footer {
    background-color: $black;
    text-align: center;

    .content {
        padding-top: 2rem;

        @include media-md {
            @include flex(flex-start);
            max-width: 1280px;
            padding: 0 3rem;
            margin: 0 auto;
        }

        @include media-lg {
            padding: 0 5rem;
        }
    }
}

.menu {
    margin: 1rem 0;

    @include media-md {
        @include flex();
        margin-left: 3rem;
    }

    &-item {
        padding: .8rem;
    }

    &-link {
        color: set-text-color($black);
        font-size: $mobile-font;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: .5rem;

        &:hover {
            color: $red;
        }
    }
}

.social-icons {
    @include flex();
    width: 90px;
    margin: 2rem auto 2.5rem;

    @include media-md {
        margin-right: 0;
        margin-left: auto;
        position: static;
    }

    &.menu-open {
        position: fixed;
        bottom: 1rem;
        left: 50%;
        z-index: 2;
        margin-left: -45px;
    }

    a {
        color: set-text-color($black);
        font-size: 27px;

        &:hover {
            color: $red;
        }
    }
}

.attribution {
    background-color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    text-align: center;

    @include media-md {
        flex: 1 0 100%;
    }

    a {
        font-size: inherit;
    }
}