header {
    padding: 2.5rem 2rem;
    @include flex();

    @include media-sm {
        margin: 0 auto;
        max-width: 650px;
    }

    @include media-md {
        padding: 3rem;
    }

    @include media-lg {
        padding: 3rem 5.5rem;
    }

    @include media-xl {
        padding-left: 10rem;
        padding-right: 8rem;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: $black;
    transform: translateX(100vw);
    @include transition-ease;

    @include media-md {
        position: static;
        width: 500px;
        transform: translateX(0);
        height: auto;
        background-color: transparent;
        @include flex();
    }

    @include media-lg {
        width: 580px;
    }

    &.open {
        transform: translateX(0);
    }

    .mobile {
        @include flex();
        padding: 10%;

        @include media-md {
            display: none;
        }

        .close-menu {
            font-size: $desktop-font;
            color: set-text-color($black);
        }
    }

    .menu {
        padding: 0 10%;

        @include media-md {
            padding: 0;
            flex: 0 1 58%;
            margin-left: 3rem;
            @include flex();
        }

        @include media-lg {
            margin-left: 0;
        }

        &-item {
            padding: 7% 5%;
            text-align: center;
            border-top: 1px solid rgba($gray, 0.25);

            @include media-md {
                padding: 0;
                border: 0;
            }

            &:last-child {
                border-bottom: 1px solid rgba($gray, .25);

                @include media-md {
                    border: 0;
                }
            }
        }

       &-link {
        color: set-text-color($black);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.3rem;

        @include media-md {
            font-size: .8rem;
            color: set-text-color($light);
        }
       } 
    }

    .nav-btn {
        @extend %btn ;

        width: 80%;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 20px;
        border: 2px solid whitesmoke;
        padding: .7rem;
        margin-top: 2rem;
        letter-spacing: 3px;

        @include media-md {
            flex: 0 1 100px;
            margin-top: 0;
            border: 0;
            color: set-text-color($red);
            font-size: .8rem;
            background-color: $red;
        }

        @include media-lg {
            flex: 0 1 120px;
        }

        &:hover {
            background-color: transparent;
            border: 2px solid $red;
            color: $red;   
        }
    }
}

.hamburger {
    font-size: $desktop-font;

    @include media-md {
        display: none;
    }
}

