.hero {
    padding: 2.5rem 0;
    
    @include laptop {
        padding-left: 5.5rem;
        @include flex(space-between, center, row);
    }

    &-image {
        position: relative;

        @include laptop {
            order: 2;
            flex: 0 1 50%;
        }

        .blue-bg {
            position: absolute;
        }

        img {
            width: 94%;
            margin: 0 auto;
            margin-right: 20rem;
        }
    }

    .content {
        padding: 2.5rem 2rem;
        text-align: center;

        @include laptop {
            padding: 2.5rem 5rem;
            flex: 0 1 50%;
            text-align: left;
        }

        p {
            padding: 6% 0;

            @include laptop {
                padding: 4% 0;
            }
        }

        h2 {
            padding-top: 1rem;
        }
    }
    
    &-btns {
        width: 100%;
        @include flex(space-between, center);
        padding-top: 1rem;

        .btn-primary:last-of-type {
            color: set-text-color(whitesmoke);
            background-color: whitesmoke;
        }

        @include laptop {
            width: 340px;
        }
    }
}

.blue-bg {
    top: 3.5rem;
    right: 0;
    width: 80%;
    height: 80%;
    border-radius: 35% 0 0 35%;
    z-index: -1;
    background-color: $blue;

    @include laptop {
        top: 9rem;
        width: 70%;
        height: 75%;
        border-radius: 40% 0 0 40%;
    }
}