@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    font-size: $mobile-font;
    line-height: 1.6;

    @include media-lg {
        font-size: $desktop-font;
    }
}

h1,h2,h3 {
    font-weight: 500;
    color: set-text-color(white);
    line-height: 1.3;

    @include media-lg {
        line-height: 1.1;
    }
}

h2 {
    font-size: 1.9rem;

    @include media-xs {
        font-size: 1.7rem;
    }

    @include media-lg {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.5rem;

    @include media-lg {
        font-size: 2rem;
    }
}

p {
    color: $gray;
    padding: 1.1rem 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: $mobile-font;
    color: set-text-color(white);
}

img {
    width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: $mobile-font;
    display: block;
    cursor: pointer;
}