@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

@import 'config', 'resets', 'buttons';

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: auto;
}

p {
    color: $gray;
    padding: 1.1rem 0;
}

// import sections
@import 'sections/header', 'sections/hero', 'sections/features', 'sections/extensions', 'sections/faq', 'sections/newsletter', 'sections/footer';